.color-navbar {
  background-color: #1b37b4 !important;
  background-image: linear-gradient(90deg, #19118d 0%, #541eb9  74%);
}

.color-texto-marca {
  color: #3a13a5 !important;
}

.margen-superior-main{
  margin-top: 60px;
}