.color-navbar {
  background-color: #4010c5 !important;
  background-image: linear-gradient(90deg, #5516c9 0%, #250dad  74%);
}

.color-texto-marca {
  color: #1915dd !important;
}

.margen-superior-main{
  margin-top: 60px;
}