.color-navbar {
  background-color: #c510ad !important;
  background-image: linear-gradient(90deg, #68047c 0%, #3313e6  74%);
}

.color-texto-marca {
  color: #b808fd !important;
}

.margen-superior-main{
  margin-top: 60px;
}